<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
          .top{
                width:100%;
                height:60px;
                margin-top:10px;
                background-color:#2E64FE;
                position: fixed;
                top: 0px;
                left: 0px;
                z-index:2;
            }
             b{
                width:30px;
                height:10px;
                margin-left:750px;
                color:white;
                font-size:20px;
            }
            c{
                font-size:40px;
                font-family:Times New Roman;
                margin-left:20px;
                color:white;
            }
         .mainpage{
                width:100%
                height:500px;
                margin-left:30px;
                margin-top:80px;
                display: inline-block;
            }
          .main{
                width:90%;
                height:400px;
                position: absolute;    
                margin-top:10px;
                margin-left:20px;
          }
        h1{
            font-size:50px;
            font-family:Times New Roman;
            color:white;
        }
        .card{
                float:left; width: 300px; margin-left:35px; margin-bottom:20px;
        }
        .breadcrumb-item{
          margin-left:20px;
        }
        </style>
    </head>
    <body>
       <div class="top">
            <c>우리-WOORI</c>
            <b>구매 페이지 &ensp;&ensp;<a href="/first/help">고객지원</a></b>
        </div>
      <div class="mainpage">
         <div class="main">
        <h1>market</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">사용자 이름 &ensp;&ensp;:&ensp;&ensp;<%=@username%></li>
            <li class="breadcrumb-item"><a href="/first/woori1">&ensp;&ensp;HOME</a></li>
            <li class="breadcrumb-item"><a href="/first/logout">&ensp;&ensp;로그아웃</a></li>
          </ol>
        </nav>
        <!--첫번째카드-->
         <% @aaa.each do |aa| %>
        <div class="card">
        <%=aa.image%>
          <div class="card-body">
            <h5 class="card-title">card_first</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/first/market_at/<%=aa.id%>" class="btn btn-primary">자세히</a>
          </div>
        </div>
         <%end%>
         </div>
         <img src="/first.jpg">
         </div>
    </body>
</html>
