<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
        h1{
            margin:30px;
            font-size:50px;
            font-family:Times New Roman;
        }
        .card{
                float: left; width: 30%; margin-left:35px; margin-bottom:20px;
        }
        .breadcrumb-item{
          margin-left:20px;
        }
        </style>
    </head>
    <body>
        <h1>market</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">HOME</a></li>
            <li class="breadcrumb-item"><a href="#">비즈니스</a></li>
            <li class="breadcrumb-item"><a href="#">단체</a></li>
            <li class="breadcrumb-item"><a href="#">개인</a></li>
          </ol>
        </nav>
        <!--첫번째카드-->
        <div class="card">
          <img class="card-img-top" src="/card_first.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">card_first</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/first/market_at" class="btn btn-primary">자세히</a>
          </div>
        </div>
        <!--두번째카드-->
        <div class="card">
          <img class="card-img-top" src="/card_second.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">card_second</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/first/market_at" class="btn btn-primary">자세히</a>
          </div>
        </div>
        <!--세번째카드-->
        <div class="card">
          <img class="card-img-top" src="/card_third.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">card_third</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/first/market_at" class="btn btn-primary">자세히</a>
          </div>
        </div>
        <!--네번째카드-->
        <div class="card">
          <img class="card-img-top" src="/card_fourth.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">card_fourth</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="first/market_at" class="btn btn-primary">자세히</a>
          </div>
        </div>
        <!--다섯번째카드-->
        <div class="card">
          <img class="card-img-top" src="/card_fifth.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">card_fifth</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/first/market_at" class="btn btn-primary">자세히</a>
          </div>
        </div>
        <!--여섯번째카드-->
        <div class="card">
          <img class="card-img-top" src="/card_sixth.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">card_sixth</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/first/market_at" class="btn btn-primary">자세히</a>
          </div>
        </div>
    </body>
</html>
