<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .top{
                width:100%;
                height:60px;
                margin-top:10px;
                background-color:#2E64FE;
                position: fixed;
                top: 0px;
                left: 0px;
                z-index:1;
            }
             b{
                width:30px;
                height:10px;
                margin-left:550px;
                color:white;
                font-size:20px;
            }
            c{
                font-size:40px;
                font-family:Times New Roman;
                margin-left:20px;
                color:white;
            }
            .mainpage{
                width:100%
                height:500px;
                margin-left:30px;
                margin-top:80px;
                display: inline-block;
            }
            .main{
                width:700px;
                height:100px;
                position: absolute;    
                margin-top:120px;
                text-align:center;
                margin-left:40px;
            }
            d{
                font-size:25px;
                color:white;
            }
            e{
                font-size:70px;
                color:white;
            }
            .botn{
                margin-left:900px;
                margin-top:150px;
                width:70px;
                height:50px;
                position: absolute;
            }
            .btn{
                margin:20px;
            }
            f{
                font-size:30px;
            }
            a{
                text-decoration:none;
                color:gray;
            }
            a:hover{
               text-decoration:none;
               color:white;
            }
        </style>
    </head>
    <body>
         <div class="top">
            <c>우리-WOORI</c><b>네이버 간편로그인 고객입니다.&emsp;&nbsp;
            <a href="/first/logout">로그아웃&emsp;&nbsp;</a><a href="/first/help">고객지원</a></b>
        </div>
         <div class="mainpage">
         <div class="main"><d>더 쉬운 웹페이지의 제작<br>단 하나뿐인 당신의 홈페이지를 만들어보세요<br></d>
         <e>우리 - WOORI</e></div>
         <div class="botn">
             <button type="button" class="btn btn-success"><a href="/post1s"><f>&ensp;&ensp;개발자&ensp;&ensp;</f></a></button>
             <button type="button" class="btn btn-success"><a href="/first/market"><f>&ensp;&ensp;구매자&ensp;&ensp;</f></a></button>
             </div>
         <img src="/first.jpg">
         </div>
    </body>
</html>