<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .top{
                width:100%;
                height:60px;
                margin-top:10px;
                background-color:#2E64FE;
                position: fixed;
                top: 0px;
                left: 0px;
                z-index:1;
            }
             b{
                width:30px;
                height:10px;
                margin-left:800px;
                color:white;
                font-size:20px;
            }
            c{
                font-size:40px;
                font-family:Times New Roman;
                margin-left:20px;
                color:white;
            }
            .mainpage{
                width:100%
                height:500px;
                margin-left:30px;
                margin-top:30px;
                display: inline-block;
            }
            .main{
                width:700px;
                height:100px;
                position: absolute;    
                margin-top:120px;
                text-align:center;
                margin-left:40px;
            }
            d{
                font-size:25px;
                color:white;
            }
            e{
                font-size:70px;
                color:white;
            }
            .botn{
                margin-left:900px;
                margin-top:180px;
                width:40px;
                height:50px;
                position: absolute;
            }
            f{
                font-size:30px;
            }
            a{
                text-decoration:none;
                color:white;
            }
            a:hover{
               text-decoration:none;
               color:gray;
            }
            .table{
                 position: absolute;
                 margin-top:350px;
                 width:800px;
                 margin-left:100px;
                 color:#E0F8EC;
                 height:100px;
            }
            h1{
               position: absolute;
               color:#E0F8EC;
               margin-top:300px;
               margin-left:100px;
            }
        </style>
    </head>
    <body>
         <div class="top">
            <c>우리-WOORI</c>
            <b><a href="/first/join">회원가입 &emsp;&nbsp;</a><a href="/first/help">고객지원</a></b>
        </div>
         <div class="mainpage">
             <div class="main"><d>더 쉬운 웹페이지의 제작<br>단 하나뿐인 당신의 홈페이지를 만들어보세요<br></d>
             <e>우리 - WOORI</e></div>
             <div class="botn">
             <button type="button" class="btn btn-success"><a href="/first/login"><f>&ensp;&ensp;로그인&ensp;&ensp;</f></a></button>
             </div>
             <br><br><h1>공지사항</h1><br>
             <table class="table table-hover" style="ovreflow:scroll;">
              <thead>
                <tr>
                  <th scope="col">순서</th>
                  <th scope="col">제목</th>
                  <th scope="col">내용</th>
                  <th scope="col">올려진시간</th>
                </tr>
              </thead>
              <% @post.each do |t| %>
              <tbody>
                    <td><%=t.id%></td>
                    <td><%=t.title%></td>
                    <td><%=t.content%></td>
                    <td><%=t.created_at%></td>
              </tbody>
               <%end%>
            </table>
         <img src="/first.jpg">
         </div>
        <embed VOLUME = "20" hidden="true" src="지코 (ZICO) - SoulMate (Feat. 아이유) Official Music Video.mp3">
    </body>
</html>